@font-face {
    font-family: "Aller_lt";
    src: url("../font/Aller_Rg.ttf") format("truetype");
}

* {
    font-family: "Aller_lt";
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.container .background-imag {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.container .overlay {
    height: 100vh;
    width: 100%;
    background-color: #ffffffc0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.form-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in-form {
    width: 300px;
    border-radius: 5px;
    background: linear-gradient(#7876F4 60%, #A23BE6);
    text-align: center;
    padding: 30px;
}

.user-image-container {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: #fcfeff;
    border-radius: 50%;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    text-align: center;
    color: #faf1f1
}

.name {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #faf1f1;
    width: 250px;
    height: 50px;
}

input::placeholder {
    color: #faf1f1;
}

.password {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #faf1f1;
    width: 250px;
    height:50px;
}

.remember {
    color: #faf1f1;
    margin-left: 20px;
    text-align:left;
    padding:15px;
}

.login-button {
    display: block;
    background-color: #faf1f1;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border-color:transparent;
    margin: 0 auto;
}

.login-button:active {
    box-shadow: 2px 2px 2px #000;
}
.login-button:hover {
    border-color: #080335;
}

.forgot-password {
    text-align: center;
    padding-top: 25px;
}

.forgot {
    color: #faf1f1;
}




.fa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: #faf1f1;
}

.fa,
.fa-classic,
.fa-sharp,
.fas,
.fa-solid,
.far,
.fa-regular,
.fab,
.fa-brands {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-xs {
    font-size: 0.75em;
    line-height: 0.08333em;
    vertical-align: 0.125em;
}

@font-face {
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../font/fa-solid-900.woff2") format("woff2"), url("../font/fa-solid-900.ttf") format("truetype");
}

.fas,
.fa-solid {
    font-weight: 900;
}
.fa-lock::before {
    content: "\f023";
}

.fa-user::before {
    content: "\f007";
}