.btn1{
    padding: 15px;
    background-color: #0061f2;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    width:100px;
}
.btn2
{
    padding: 15px;
    background-color: #0061f2;
    color: #ffffff;
    border: transparent;
    border-radius: 5px;
    width:150px;
}