@import url("../css/common/common.css");
@import url("../css/box/box.css");
@import url("../css/button/button.css");
@import url("../css/display/display.css");
@import url("../css/input/input.css");

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Aller_Rg";
    src: url("../font/Raleway-Light/Aller_Rg.ttf") format("truetype");
}

* {
    font-family: Aller_Rg;
}

:root {
    --main-bgcolor: #0061f2;
    --sub-bgcolor: #ffffff;
}

.bgcolor-blue {
    background-color: var(--main-bgcolor);
}

.bgcolor-white {
    background-color: var(--sub-bgcolor);
}

.bg-imagefix {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-heightfix {
    height: 100vh;
}

.center-element {
    margin: 0 auto;
}

/*Product page*/
header {
    position:fixed;
    background-color:#ffffff;
    width: 100%;
    margin-top: 0;
    z-index: 2;
}
.title{
    margin-left: 400px;
}
.h {
    font-size: 30px;
    color: #0b3b0b;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.cart{
    margin-left: 100px;
}
.cart img{
    height: 75px;
    width: 75px;
    border-radius: 50px;
}
.cart img:hover{
    background-color: #acacac;
}
.cart img:active{
    background-color: #084baf;
}

.logout_box{
    margin-left: 50px;
    margin-top: 10px;
    border:1px solid #000000;
    border-radius: 5px;
    width:300px;
    height: 120px;
    font-size: 10px;
    color: #000000;
    box-shadow: 10px 10px 10px #00000066;
}
.logout_profile{
    display:flex;
    flex-wrap: wrap;
    font-size: 20px;
}
.profile_icon{
    height:50px;
    width:50px;
    padding: 10px;
}
.logout_button{
    background-color: #103369;
    color:#f1f1f1;
    margin-top: 10px;
    margin-left: 230px;
    font-size: 15px;
    border: none;
    padding:5px;
    border-radius: 5px;
}

.container {
    background-image: url("../../assets/image/banner/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.about_background{
    background-image: url("../../assets/image/banner/about_us.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
}

.contact_background{
    background-image: url("../../assets/image/banner/contact_us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.statement{
    margin-top: 100px;
    text-align: center;
    background-color: #0000004f;
    width: fit-content;
    font-size: 50px;
    color:#f4f5aa;
}

.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    background-color: #111;
    margin-top: 0;
    z-index: 2;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #103369;
}

.content_container_box{
    margin-left: 320px;
    width: 1030px;
    display:flex;
    flex-wrap: wrap;
}
.label{
    font-size: 20px;
    font-weight: bold;
    color:#000000;
}
.shoes{
    margin-left: 100px;
    padding-top: 160px;
    padding-left: 0;
    cursor:pointer;
}
.slippers{
    padding-top: 160px;
    margin-left: 50px;
    cursor:pointer;
}
.radio{
    display:none;
}
.content_container{
    width:100%;
    order:1;
    border-bottom: #b7c7c7;
    line-height: 1.5;
    display: none;
}
.radio:checked + .label{
    font-weight: bold;
    color:#e2dcdc;
    border-bottom: solid 3px #2e39b6;
}
.radio:checked + .label + .content_container{
    display: initial;
}

 .product-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 10px;
    background-color: #ffffff;
    width: 250px;
    height: 400px;
    position: relative;
    padding: 10px;
    box-shadow: 10px 10px 10px #00000066;
}

.offer-sale {
    position: absolute;
    top: 20px;
    left: 5px;
    background: #f2a2189d;
    padding: 5px;
    font-size: 15px;
}

.image-container {
    height: 250px;
    width: 250px;
    background-color: #b7c7c7;
}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-description {
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
}

.price {
    text-align: center;
    font-size: 15px;
}

.offer {
    text-decoration: line-through;
    color: #747677;
    text-align: center;
}

.add-to-cart {
    background-color: #eb8b1d;
    padding: 7px;
    font-size: 15px;
    width: 100px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

.add-to-cart:hover {
    font-weight: bolder;
}

.add-to-cart:active {
    box-shadow: 2px 2px 2px #111;
}